make-blueprints/S3-nurture-sequence.json
{
  "name": "S3 - Nurture Sequence (Daily)",
  "metadata": { "version": 1 },
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": { "__IMTCONN__": 6370955 },
      "mapper": {
        "mode": "map",
        "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
        "sheetId": "Pipeline",
        "tableFirstRow": "A1:Z1",
        "includesHeaders": true,
        "sortOrder": "asc",
        "orderBy": "0",
        "filter": [
          {
            "a": "N",
            "b": "{{formatDate(now; \"YYYY-MM-DD\")}}",
            "o": "date:lessEqual"
          },
          {
            "a": "I",
            "b": "booked|paid|installed|cold",
            "o": "text:notMatch:ci"
          }
        ],
        "valueRenderOption": "FORMATTED_VALUE",
        "limit": 20
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "expect": [
          { "name": "0", "label": "Date", "type": "text" },
          { "name": "1", "label": "Name", "type": "text" },
          { "name": "2", "label": "Phone", "type": "text" },
          { "name": "3", "label": "Email", "type": "text" },
          { "name": "4", "label": "Trade", "type": "text" },
          { "name": "5", "label": "Source", "type": "text" },
          { "name": "6", "label": "UTM Source", "type": "text" },
          { "name": "7", "label": "UTM Medium", "type": "text" },
          { "name": "8", "label": "UTM Campaign", "type": "text" },
          { "name": "9", "label": "Stage", "type": "text" },
          { "name": "10", "label": "Notes", "type": "text" },
          { "name": "11", "label": "Last Contact", "type": "text" },
          { "name": "12", "label": "Next Action", "type": "text" },
          { "name": "13", "label": "Nurture Step", "type": "text" },
          { "name": "14", "label": "Nurture Next Date", "type": "text" }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": { "designer": { "x": 300, "y": 0 } },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "google-email:ActionSendEmail",
              "version": 2,
              "parameters": { "account": 6370955 },
              "mapper": {
                "to": ["{{1.3}}"],
                "subject": "{{1.1}}, here's what your competitors are doing differently",
                "html": "<!-- DAY 0: Welcome + Value Nudge. See marketing/nurture-templates.md for full copy -->\n<p>G'day {{1.1}},</p>\n<p>Thanks for checking out TradeAnchor! Quick question: how many quotes do you send per week?</p>\n<p>Most sparkies we talk to spend 30-45 minutes per quote. That's 20+ hours a month on paperwork.</p>\n<p>Flowio cuts that to under 2 minutes per quote. One tap, professional PDF, sent via SMS, tracked automatically.</p>\n<p><a href='https://tradeanchor.com.au#test-drive'>Try the free Test Drive</a> | <a href='https://calendly.com/billing-tradeanchor/15min'>Book a 15-min chat</a></p>\n<p>Cheers,<br>Sean | TradeAnchor</p>"
              },
              "metadata": { "designer": { "x": 600, "y": -300 } },
              "filter": {
                "name": "Step 0",
                "conditions": [
                  [{ "a": "{{1.13}}", "b": "0", "o": "text:equal" }]
                ]
              }
            },
            {
              "id": 7,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 6370955 },
              "mapper": {
                "mode": "map",
                "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
                "sheetId": "Pipeline",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                "13": "1",
                "14": "{{formatDate(addDays(now; 2); \"YYYY-MM-DD\")}}"
              },
              "metadata": { "designer": { "x": 900, "y": -300 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 4,
              "module": "google-email:ActionSendEmail",
              "version": 2,
              "parameters": { "account": 6370955 },
              "mapper": {
                "to": ["{{1.3}}"],
                "subject": "Why 78% of tradies quit their job management software",
                "html": "<!-- DAY 2: Social Proof / Pain Agitation. See marketing/nurture-templates.md for full copy -->\n<p>G'day {{1.1}},</p>\n<p>Here's something wild: 78% of tradies who sign up for job management software (ServiceM8, Jobber, Tradify) cancel within 12 months.</p>\n<p>Why? Three reasons: too complex, too expensive, and they never actually own their data.</p>\n<p>Flowio is different. It runs inside Google Sheets &mdash; software you already know. One-time setup. No monthly fees. Your data lives in YOUR Google account forever.</p>\n<p><a href='https://tradeanchor.com.au#test-drive'>See it in action (2 min)</a></p>\n<p>Sean | TradeAnchor</p>"
              },
              "metadata": { "designer": { "x": 600, "y": -100 } },
              "filter": {
                "name": "Step 1",
                "conditions": [
                  [{ "a": "{{1.13}}", "b": "1", "o": "text:equal" }]
                ]
              }
            },
            {
              "id": 8,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 6370955 },
              "mapper": {
                "mode": "map",
                "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
                "sheetId": "Pipeline",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                "13": "2",
                "14": "{{formatDate(addDays(now; 2); \"YYYY-MM-DD\")}}"
              },
              "metadata": { "designer": { "x": 900, "y": -100 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 5,
              "module": "google-email:ActionSendEmail",
              "version": 2,
              "parameters": { "account": 6370955 },
              "mapper": {
                "to": ["{{1.3}}"],
                "subject": "The maths: how Flowio pays for itself in 7 weeks",
                "html": "<!-- DAY 4: ROI Breakdown. See marketing/nurture-templates.md for full copy -->\n<p>G'day {{1.1}},</p>\n<p>Let me break down the numbers:</p>\n<ul>\n<li>Average sparky sends 15 quotes/week, spending ~30 min each</li>\n<li>That's 390 hours/year on quoting alone</li>\n<li>At $80/hour, that's $31,200 in lost billable time</li>\n</ul>\n<p>Flowio costs $1,997 one-time (or 3x $699/mo). At just 5 extra billable hours recovered per week, it pays for itself in <strong>7 weeks</strong>.</p>\n<p>After that? Pure profit. No monthly fees eating into your margin.</p>\n<p><a href='https://calendly.com/billing-tradeanchor/15min'>Let's run the numbers for YOUR business (15 min)</a></p>\n<p>Sean | TradeAnchor</p>"
              },
              "metadata": { "designer": { "x": 600, "y": 100 } },
              "filter": {
                "name": "Step 2",
                "conditions": [
                  [{ "a": "{{1.13}}", "b": "2", "o": "text:equal" }]
                ]
              }
            },
            {
              "id": 9,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 6370955 },
              "mapper": {
                "mode": "map",
                "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
                "sheetId": "Pipeline",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                "13": "3",
                "14": "{{formatDate(addDays(now; 3); \"YYYY-MM-DD\")}}"
              },
              "metadata": { "designer": { "x": 900, "y": 100 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 6,
              "module": "google-email:ActionSendEmail",
              "version": 2,
              "parameters": { "account": 6370955 },
              "mapper": {
                "to": ["{{1.3}}"],
                "subject": "Last call: 2 install spots left this week",
                "html": "<!-- DAY 7: Final Nudge. See marketing/nurture-templates.md for full copy -->\n<p>G'day {{1.1}},</p>\n<p>Quick heads up &mdash; we've only got 2 DFY install spots left this week (each install takes 48 hours of setup + testing).</p>\n<p>Here's everything you get:</p>\n<ul>\n<li>Professional PDF quotes from Google Sheets (1-tap)</li>\n<li>Auto SMS to clients with quote link</li>\n<li>Client accepts online &rarr; auto calendar booking</li>\n<li>Stripe payment collection</li>\n<li>Xero invoice sync</li>\n<li>Automatic follow-ups for unpaid quotes</li>\n</ul>\n<p>One-time $1,997 (or 3x $699). No monthly fees. Live in 48 hours or full refund.</p>\n<p><a href='https://calendly.com/billing-tradeanchor/15min'>Grab your spot &rarr;</a></p>\n<p>Sean | TradeAnchor</p>"
              },
              "metadata": { "designer": { "x": 600, "y": 300 } },
              "filter": {
                "name": "Step 3",
                "conditions": [
                  [{ "a": "{{1.13}}", "b": "3", "o": "text:equal" }]
                ]
              }
            },
            {
              "id": 10,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 6370955 },
              "mapper": {
                "mode": "map",
                "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
                "sheetId": "Pipeline",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                "13": "4",
                "14": "",
                "9": "nurture_complete"
              },
              "metadata": { "designer": { "x": 900, "y": 300 } }
            }
          ]
        }
      ]
    }
  ]
}
