make-blueprints/S4-follow-up-engine.json
{
  "name": "S4 - No-Response Follow-Up Engine (Daily)",
  "metadata": { "version": 1 },
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": { "__IMTCONN__": 6370955 },
      "mapper": {
        "mode": "map",
        "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
        "sheetId": "Pipeline",
        "tableFirstRow": "A1:Z1",
        "includesHeaders": true,
        "sortOrder": "asc",
        "orderBy": "11",
        "filter": [
          {
            "a": "I",
            "b": "nurture_complete",
            "o": "text:equal"
          }
        ],
        "valueRenderOption": "FORMATTED_VALUE",
        "limit": 20
      },
      "metadata": { "designer": { "x": 0, "y": 0 } }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": { "designer": { "x": 300, "y": 0 } },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "clicksend:sendSMS",
              "version": 1,
              "parameters": { "__IMTCONN__": 5806821 },
              "mapper": {
                "to": "{{1.2}}",
                "body": "Hey {{1.1}}, Sean from TradeAnchor here. Saw you checked out Flowio - want to see a 60-sec demo of how it works for {{1.4}}s? Here's the link: https://tradeanchor.com.au#test-drive",
                "from": "TradeAnchor"
              },
              "metadata": { "designer": { "x": 600, "y": -200 } },
              "filter": {
                "name": ">48h no response (not yet SMS'd)",
                "conditions": [
                  [
                    { "a": "{{formatDate(addDays(parseDate(1.11; \"YYYY-MM-DD HH:mm\"); 2); \"YYYY-MM-DD\")}}", "b": "{{formatDate(now; \"YYYY-MM-DD\")}}", "o": "date:lessEqual" },
                    { "a": "{{1.12}}", "b": "sms_sent", "o": "text:notEqual" }
                  ]
                ]
              }
            },
            {
              "id": 6,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 6370955 },
              "mapper": {
                "mode": "map",
                "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
                "sheetId": "Pipeline",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                "12": "sms_sent"
              },
              "metadata": { "designer": { "x": 900, "y": -200 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 4,
              "module": "google-email:ActionSendEmail",
              "version": 2,
              "parameters": { "account": 6370955 },
              "mapper": {
                "to": ["{{1.3}}"],
                "subject": "{{1.1}}, quick case study from a Sydney sparky",
                "html": "<p>G'day {{1.1}},</p>\n<p>Wanted to share a quick win from a recent Flowio install:</p>\n<p><strong>Before:</strong> 45 min per quote, chasing clients for days, losing track of jobs</p>\n<p><strong>After:</strong> 2 min per quote, client accepts + pays online, automatic calendar booking</p>\n<p>The tradie got his first 3 quotes out within an hour of setup. One was accepted same day.</p>\n<p>If you've got 15 minutes, I'd love to show you how this could work for your {{1.4}} business:</p>\n<p><a href='https://calendly.com/billing-tradeanchor/15min'>Book a quick chat</a></p>\n<p>Sean | TradeAnchor</p>"
              },
              "metadata": { "designer": { "x": 600, "y": 200 } },
              "filter": {
                "name": ">5 days, SMS already sent",
                "conditions": [
                  [
                    { "a": "{{formatDate(addDays(parseDate(1.11; \"YYYY-MM-DD HH:mm\"); 3); \"YYYY-MM-DD\")}}", "b": "{{formatDate(now; \"YYYY-MM-DD\")}}", "o": "date:lessEqual" },
                    { "a": "{{1.12}}", "b": "sms_sent", "o": "text:equal" }
                  ]
                ]
              }
            },
            {
              "id": 7,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 6370955 },
              "mapper": {
                "mode": "map",
                "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
                "sheetId": "Pipeline",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                "12": "final_email_sent",
                "9": "cold"
              },
              "metadata": { "designer": { "x": 900, "y": 200 } }
            }
          ]
        }
      ]
    }
  ]
}
