make-blueprints/S5-post-install.json
{
  "name": "S5 - Post-Install Review & Referral (Daily)",
  "metadata": { "version": 1 },
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": { "__IMTCONN__": 6370955 },
      "mapper": {
        "mode": "map",
        "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
        "sheetId": "Pipeline",
        "tableFirstRow": "A1:Z1",
        "includesHeaders": true,
        "sortOrder": "asc",
        "orderBy": "0",
        "filter": [
          {
            "a": "I",
            "b": "installed",
            "o": "text:equal"
          }
        ],
        "valueRenderOption": "FORMATTED_VALUE",
        "limit": 50
      },
      "metadata": { "designer": { "x": 0, "y": 0 } }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": { "designer": { "x": 300, "y": 0 } },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "google-email:ActionSendEmail",
              "version": 2,
              "parameters": { "account": 6370955 },
              "mapper": {
                "to": ["{{1.3}}"],
                "subject": "How's Flowio going, {{1.1}}?",
                "html": "<p>G'day {{1.1}},</p>\n<p>It's been about a week since we set up Flowio for you. How's it going?</p>\n<p>Quick questions:</p>\n<ul>\n<li>Have you sent your first few quotes?</li>\n<li>Anything confusing or not working as expected?</li>\n<li>Any features you wish it had?</li>\n</ul>\n<p>Happy to jump on a quick call if anything needs tweaking. Just reply to this email or <a href='https://wa.me/61494186989'>WhatsApp me</a>.</p>\n<p>Cheers,<br>Sean</p>"
              },
              "metadata": { "designer": { "x": 600, "y": -200 } },
              "filter": {
                "name": "Day 7 check-in (not yet sent)",
                "conditions": [
                  [
                    { "a": "{{1.12}}", "b": "day7_sent|day14_sent", "o": "text:notMatch:ci" }
                  ]
                ]
              }
            },
            {
              "id": 5,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 6370955 },
              "mapper": {
                "mode": "map",
                "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
                "sheetId": "Pipeline",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                "12": "day7_sent"
              },
              "metadata": { "designer": { "x": 900, "y": -200 } }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 4,
              "module": "google-email:ActionSendEmail",
              "version": 2,
              "parameters": { "account": 6370955 },
              "mapper": {
                "to": ["{{1.3}}"],
                "subject": "Quick favour, {{1.1}}? (+ $200 for you)",
                "html": "<p>G'day {{1.1}},</p>\n<p>Hope Flowio's been saving you time!</p>\n<p>I've got two quick asks (both benefit you):</p>\n<h3>1. Quick Video Testimonial (60 sec)</h3>\n<p>Would you be open to recording a 60-second selfie video about your experience with Flowio? Just your phone, casual, no script needed. Something like:</p>\n<ul>\n<li>What you do and where you're based</li>\n<li>What quoting was like before</li>\n<li>How Flowio has helped</li>\n</ul>\n<p>I'd feature it on the website (with your permission of course).</p>\n<h3>2. Refer a Mate = $200 Each</h3>\n<p>Know another tradie who's drowning in paperwork? If they sign up for Flowio, you BOTH get $200 off (or $200 cash if you've already paid in full).</p>\n<p>Just have them mention your name when they book a call:</p>\n<p><a href='https://calendly.com/billing-tradeanchor/15min'>Referral booking link</a></p>\n<p>Also, if you've got 30 seconds, a Google review would mean the world:</p>\n<p>[INSERT GOOGLE REVIEW LINK]</p>\n<p>Cheers,<br>Sean</p>"
              },
              "metadata": { "designer": { "x": 600, "y": 200 } },
              "filter": {
                "name": "Day 14 review+referral (day7 already sent)",
                "conditions": [
                  [
                    { "a": "{{1.12}}", "b": "day7_sent", "o": "text:equal" }
                  ]
                ]
              }
            },
            {
              "id": 6,
              "module": "google-sheets:updateRow",
              "version": 2,
              "parameters": { "__IMTCONN__": 6370955 },
              "mapper": {
                "mode": "map",
                "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
                "sheetId": "Pipeline",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "rowNumber": "{{1.__ROW_NUMBER__}}",
                "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                "12": "day14_sent"
              },
              "metadata": { "designer": { "x": 900, "y": 200 } }
            }
          ]
        }
      ]
    }
  ]
}
