make-blueprints/S6-fb-lead-capture.json
{
  "name": "S6 - Facebook Lead Ad Capture",
  "metadata": { "version": 1 },
  "flow": [
    {
      "id": 1,
      "module": "facebookleadsads:newLead",
      "version": 3,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {},
        "note": "SETUP REQUIRED: Connect your Facebook account and select the Lead Ad Form. This module watches for new leads from your Meta/Facebook Lead Ad campaigns."
      }
    },
    {
      "id": 2,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": { "__IMTCONN__": 6370955 },
      "mapper": {
        "mode": "map",
        "spreadsheetId": "1BJCDY3mOZ7qXHK2yJQXXTHtuti8soNRM",
        "sheetId": "Pipeline",
        "tableFirstRow": "A1:Z1",
        "insertUnformatted": false,
        "valueInputOption": "USER_ENTERED",
        "insertDataOption": "INSERT_ROWS",
        "0": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
        "1": "{{1.full_name}}",
        "2": "{{1.phone_number}}",
        "3": "{{1.email}}",
        "4": "",
        "5": "meta_ad",
        "6": "facebook",
        "7": "lead_ad",
        "8": "{{1.campaign_name}}",
        "9": "new",
        "10": "FB Lead Ad: {{1.ad_name}}",
        "11": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
        "12": "",
        "13": "0",
        "14": "{{formatDate(now; \"YYYY-MM-DD\")}}"
      },
      "metadata": { "designer": { "x": 300, "y": 0 } }
    },
    {
      "id": 3,
      "module": "google-email:ActionSendEmail",
      "version": 2,
      "parameters": { "account": 6370955 },
      "mapper": {
        "to": ["{{1.email}}"],
        "subject": "G'day {{1.full_name}} - here's what you asked about",
        "html": "<p>G'day {{1.full_name}},</p>\n<p>Thanks for your interest in Flowio! You clicked on our ad, so here's the quick rundown:</p>\n<p><strong>Flowio</strong> turns Google Sheets into a complete quoting + job management system for tradies. One tap to quote, auto-SMS to clients, online acceptance, calendar booking, and Stripe payments.</p>\n<p>No monthly fees. No learning curve. Done-for-you setup in 48 hours.</p>\n<p><strong>Want to see it in action?</strong></p>\n<p><a href='https://tradeanchor.com.au#test-drive'>Try the free interactive demo</a></p>\n<p>Or if you're ready to chat:</p>\n<p><a href='https://calendly.com/billing-tradeanchor/15min'>Book a 15-minute Fit Call</a></p>\n<p>Cheers,<br>Sean | TradeAnchor</p>"
      },
      "metadata": { "designer": { "x": 600, "y": 0 } }
    }
  ]
}
